<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DT Extractor</title>
    <meta name="description" content="DT Extractor Webpage">
    <link id="favicon" rel="icon" href="https://www.sololearn.com/Icons/Avatars/926448.jpg" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="og:site_name" content="DT Extractor Webpage">
    <meta property="og:title" content="DT Extractor Webpage">
    <meta property="og:description" content="General webpage for DT Extractor">
    <meta property="og:image" content="https://www.sololearn.com/Icons/Avatars/926448.jpg" />
    <meta property="og:locale" content="en_us">
    <meta property="og:url" content="https://dt-extractor.glitch.me/">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
      <h1>
        DT Extractor
      </h1>
      <h4>
        The custom bot created for The CORE.
      </h4>
      
      <h2 style="text-align:center;color:gold;">
        Welcome to the landing page!
      </h2>
  </body>
</html>
