<!-- Created by //Fpharbhulourz/>😋😈🤓🇳🇬-->

<!DOCTYPE html> 
<html> 
<head>
    <title>DT Extractor Settings</title>
    <meta name="description" content="DT Extractor Settings">

    <meta property="og:site_name" content="DT Extractor Settings">
    <meta property="og:title" content="DT Extractor Settings">
    <meta property="og:description" content="Settings for DT Extractor">
    <meta property="og:image" content="https://www.sololearn.com/Icons/Avatars/926448.jpg" />
    <meta property="og:locale" content="en_us">
    <meta property = "og:url" content = "https://code.sololearn.com/Wg2wtXXcJ53I/">
    <link rel="stylesheet" href="/style.css">
    <script src="/panel/leave.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head> 
<body> 
<h1>Leave Message Settings</h1>
<h4>Here you can customise the leave message.</h4>
<!-- Rectangular switch --> 
<h3>Enabled<br /><label class="switch">
<input type="checkbox" id="a" checked>
<div class="slider round">
</div> 
</label> </h3>
<h3>Message</h3>
<h4><textarea type="text" id="b"></textarea>
To mention the user, Use ${@user}, Mention roles using ${&RoleId}, Mention Channels using <#ChannelId>, Return server name using ${server}</h4>
<input type="button" name="send" value="Save Changes" class="save" onclick="save();">
</body> 
</html> 