<!DOCTYPE html>
<html>
	<head>
		<title>DT Extractor Settings</title>
    <meta name="description" content="DT Extractor Settings">

    <meta property="og:site_name" content="DT Extractor Landing Page">
    <meta property="og:title" content="DT Extractor Settings">
    <meta property="og:description" content="Settings for DT Extractor">
    <meta property="og:image" content="https://www.sololearn.com/Icons/Avatars/926448.jpg" />
    <meta property="og:locale" content="en_us">
    <meta property = "og:url" content = "https://code.sololearn.com/Wg2wtXXcJ53I/">
    <link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>DT Extractor Settings Page</h1>
		<h4>Welcome to the DT Extractor Settings Page. Here you can edit the bot's configuation.<br />Please select a category using the buttons below.</h4>
		<form action="https://dt-extractor.glitch.me/panel/general">
        <input type="submit" value="General Settings">
    </form>
    <form action="https://dt-extractor.glitch.me/panel/join">
        <input type="submit" value="Join Message">
    </form>
    <form action="https://dt-extractor.glitch.me/panel/leave">
        <input type="submit" value="Leave Message">
    </form>
    <form action="https://dt-extractor.glitch.me/panel/ban">
        <input type="submit" value="Ban Message">
    </form>
    <form action="https://dt-extractor.glitch.me/panel/welcome">
        <input type="submit" value="Welcome Message">
    </form>
    <!--<form action="https://dt-extractor.glitch.me/panel/action">
        <input type="submit" value="Action Log">
    </form>-->
	</body>
</html>